@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-height: 100%;
    position: relative;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    overflow: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    background-color: #eee;

}

.logo {
    width: 50vw;
    transform: translateX(10%);
}

#header-img {
    width: 70%;
    height: 70%;
}

#nav-bar {
    width: 50vw;
}

#nav-bar>ul {
    display: flex;
    justify-content: space-around;
}

#nav-bar>ul>li {
    list-style-type: none;
}

#nav-bar>ul>li>a {
    text-decoration: none;
    color: #111;
    font-size: 1.25rem;
    transition: 0.3s;
}

#nav-bar>ul>li>a:hover {
    color: crimson;
}


#main {
    margin: 5rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main>* {
    margin: 2.5rem;

}

.features {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 1.5;
}

.features .feature {
    display: flex;
    width: 100%;
    justify-content: space-around;
}



.features .feature .icon {
    text-align: center;
    font-size: 5rem;
    width: 30%;
    color: crimson;
    cursor: pointer;
    transition: 1s;
}

.features .feature .icon:hover {
    transform: scale(1.2);
}


.features .feature .description {
    padding: 2rem 1rem;
    width: 70%;
}

.features .feature .description h2 {
    color: crimson;
    margin-bottom: 0.2rem;
}

#video {
    max-width: 80%;
    height: 100%;
}

#form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form input[type="email"] {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
}


#form input:invalid {
    border: 2px solid red;
}

#form>* {
    margin: 0.5rem;
}

#submit {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    background-color: #f1c40f;
    cursor: pointer;
}

#submit:hover {
    background-color: orange;
    transition: 0.5s;
}


.cards {
    max-width: 100%;
    display: flex;
    justify-content: space-around;

}

.card {
    display: block;
    min-width: 25vw;
    border: 2px solid #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.card .card-header {
    background-color: #CCC;
    width: 100%;
    text-align: center;
    font-weight: 300;
    padding: 1rem 0;
}

.card a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 1rem;
    background-color: #f1c40f;
    padding: 0.5rem 2rem;
    border-radius: 100x;
}

.card *~* {

    margin-top: 1rem;
}

.card a:hover {
    background-color: orangered;
    transition: 0.8s ease;
}

#footer {
    width: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 2rem;
}

#footer>* {
    margin: 0.5rem;
}

#footer ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#footer ul li {
    list-style-type: none;
}

#footer ul li a {
    color: #111;
    text-decoration: none;
}

#copyright {
    color: #444;
}




@media screen and (min-width: 1366px) {
    .card {
        min-width: 20vw;
    }
}


@media screen and (min-width: 1800px) {
    .card {
        min-width: 18vw;
    }
}

@media screen and (max-width: 720px) {

    #nav-bar>ul>li>a {
        font-size: 1rem;
    }
    #main>* {
        margin: 2rem;
    
    }
    .icon {
        display: none;
    }
    .description > * {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {

    .cards {
        flex-direction: column;
    }
    .card{
        min-width: 40vw;
    }

}


@media screen and (max-width: 550px) {

    #nav-bar>ul>li>a {
        font-size: 0.8rem;
    }
    #main>* {
        margin: 1.5rem;
    
    }
}

@media screen and (max-width: 430px) {

    #nav-bar>ul>li>a {
        font-size: 0.8rem;
    }
    #main>* {
        margin: 1rem;
    
    }
}